@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light&display=swap')

.paper
    font-family 'Shadows Into Light', cursive
    font-size 40px  !important
    line-height 54px !important
    width 76vw
    height 96vh
    margin  0 
    padding  2vh 10vw 2vh 14vw
    position  relative 
    color  #444 
    line-height  20px 
    background  #fff 
    background  linear-gradient(to bottom, #c3dce8 0px, #ffffff 1px)
    background-size  100% 50px 
    border-radius  3px 
    box-shadow  0 1px 2px rgba(0,0,0,0.07) 
    &::after
        content  '' 
        position  absolute 
        width  4px 
        top  0 
        right  5vw
        bottom 0
        border 1px solid #e8c6c6
        border-bottom-style none
        border-left-style none
        border-top-style none
        opacity .5
     
    &::before
        content  '' 
        position  absolute 
        width  4px 
        top  0 
        left  10vw
        bottom  0 
        border 1px solid #e8c6c6
        opacity .5
        border-bottom-style none
        border-top-style none

    @media (max-width: 900px)
        font-size 24px  !important
        line-height 30px !important
    
    .playground
        display flex
        flex-wrap wrap
        align-items center
        height 100%
        .pull-right
            text-align right 
            padding-right 10vw
        .info
            transform-origin center center
            transform rotate(10deg)
            color #576280
            h1
                small
                    text-shadow 2px 3px #e036364a
                    color #383f52
                    display block
                    padding 5px
                    &::after
                        content 'Level'
                        font-size 70%
                        margin 20px

        .results
            margin-top 2vh
            text-align right
            display flex
            flex-wrap wrap
            max-width 400px
            margin 0 auto 0 auto
            &>*
                flex 1 100%
                padding 2vh 0
            .task
                font-size 180%
                font-weight bolder
                color #000
            .result
                font-size 150%
                cursor pointer
                &:hover
                    font-weight bolder
            .font-red
                color #ff0000
         
    /* Portrait */
    @media screen and (orientation: portrait) 
        .playground
            &>div
                display block
                width 100%
    /* Landscape */
    @media screen and (orientation: landscape)
        .playground
            &>div
                display block
                width 50%
    
    #posted
        width 20vw
        height 20vh
        left 10vw
        top 10vh
        padding 2vw
        border-bottom-left-radius 20vw 5vw
        position absolute
        overflow hidden
        transform rotate(-19deg)
        box-shadow -9px 10px 31px 6px gray
        background-color #fffa94
        font-size 50%
        line-height 100%
         
        .command
            font-weight bolder
            font-size 150%
            cursor pointer

            &::before
                content '>'
         
